  <form action="/addOrder/" method="post">
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">
					确认地址
				</h4>
			</div>
			<div style="text-align:center;">
                <input name="bookid" id="book_id" style="display: none"/>
				<span>选择地址：</span>
                <select name="addrid" class="form-control-static">
                    <option value="选择地址" disabled="disabled" selected="selected">收货地址</option>
                    {% for i in addrdata %}
                        <option name="addrid" value="{{ i.addr_id }}">{{ i.addr_name }}&nbsp;{{ i.addr_addr }}&nbsp;{{ i.addr_tel }}</option>
                    {% endfor %}
                </select>
			</div>
			<div class="modal-footer">
                <button type="submit" class="btn btn-primary"><a href="/shoppay/?amount={{ data.book_price }}" style="color:black">确认购买</a></button>
                <a href="/selectAddr/">添加地址</a>
				<button type="button" class="btn btn-default" data-dismiss="modal">取消购买</button>
			 </div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>
</form>